Language: Cpp
BasedOnStyle: Microsoft
ColumnLimit: 100
IndentWidth: 4
IndentPPDirectives: BeforeHash
PPIndentWidth: 4
ContinuationIndentWidth: 4

ReflowComments: false

PointerAlignment: Right
DerivePointerAlignment: false

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false
    AfterStruct: false
    AfterUnion: false
    AfterEnum: false
    AfterFunction: true
    AfterNamespace: false
    AfterExternBlock: false
    AfterCaseLabel: false
    AfterControlStatement: Never
    BeforeElse: false
    BeforeCatch: false
    BeforeLambdaBody: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
AlignAfterOpenBracket: DontAlign

# c++ specific
ConstructorInitializerIndentWidth: 4
IndentRequiresClause: true
IndentExternBlock: NoIndent
PackConstructorInitializers: NextLine
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
ShortNamespaceLines: 1
FixNamespaceComments: true
