[submodule "lib/KSDK_2.0_MKL03Z8xxx4"]
	path = lib/KSDK_2.0_MKL03Z8xxx4
	url = https://github.com/UltimateHackingKeyboard/KSDK_2.0_MKL03Z8xxx4.git
[submodule "lib/KSDK_2.0_MK22FN512xxx12"]
	path = lib/KSDK_2.0_MK22FN512xxx12
	url = https://github.com/UltimateHackingKeyboard/KSDK_2.0_MK22FN512xxx12.git
[submodule "lib/bootloader"]
	path = lib/bootloader
	url = https://github.com/UltimateHackingKeyboard/bootloader.git
[submodule "lib/agent"]
	path = lib/agent
	url = https://github.com/UltimateHackingKeyboard/agent.git
[submodule "lib/SDK_2.8.0_MKL17Z32xxx4"]
	path = lib/SDK_2.8.0_MKL17Z32xxx4
	url = https://github.com/UltimateHackingKeyboard/SDK_2.8.0_MKL17Z32xxx4.git
