[submodule "libs/KSDK_2.0_FRDM-K22F"]
	path = lib/KSDK_2.0_FRDM-K22F
	url = git@github.com:UltimateHackingKeyboard/KSDK_2.0_FRDM-K22F.git
[submodule "lib/KSDK_1.3_FRDM-KL03Z"]
	path = lib/KSDK_1.3_FRDM-KL03Z
	url = git@github.com:UltimateHackingKeyboard/KSDK_1.3_FRDM-KL03Z.git
[submodule "lib/KSDK_2.0_MKL03Z8xxx4"]
	path = lib/KSDK_2.0_MKL03Z8xxx4
	url = git@github.com:UltimateHackingKeyboard/KSDK_2.0_MKL03Z8xxx4.git
