// Copyright (c) 2023 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 7)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 6)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 7)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };
};

&spi1 {
    compatible = "nordic,nrf-spi";
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
};

/ {
    model = "UHK 80 right";
    compatible = "uhk-80-right";

    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
    };

    gpios {
        compatible = "gpio-keys";
        oled_en: oled_en {
            gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
            label = "oled_en";
        };
        oled_a0: oled_a0 {
            gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
            label = "oled_a0";
        };
        oled_cs: oled_cs {
            gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
            label = "oled_cs";
        };
        leds_cs: leds_cs {
            gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
            label = "leds_cs";
        };
    };

    aliases {
        oled-en = &oled_en;
        oled-a0 = &oled_a0;
        oled-cs = &oled_cs;
        leds-cs = &leds_cs;
    };
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x0 0xc000>;
        };
        slot0_partition: partition@c000 {
            label = "image-0";
            reg = <0xc000 0xa000>;
        };
        slot1_partition: partition@16000 {
            label = "image-1";
            reg = <0x16000 0xa000>;
        };
        scratch_partition: partition@20000 {
            label = "image-scratch";
            reg = <0x20000 0xa000>;
        };
        storage_partition: partition@2a000 {
            label = "storage";
            reg = <0x2a000 0x6000>;
        };
    };
};
