/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "shared.dtsi"

&gpio1 {
    status = "okay";
};

&adc {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel@1 {
        reg = <1>;
        zephyr,gain = "ADC_GAIN_1_4";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
        zephyr,input-positive = <NRF_SAADC_AIN3>; // VBAT_ADC
        zephyr,resolution = <12>;
    };
};

&uart1 {
    compatible = "nordic,nrf-uarte";
    status = "okay";
    current-speed = <9600>;
    pinctrl-0 = <&uart1_default>;
    pinctrl-1 = <&uart1_sleep>;
    pinctrl-names = "default", "sleep";
};

&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c2_default>;
    pinctrl-1 = <&i2c2_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <100000>;
};

&pinctrl {
    uart0_default: uart0_default {
        group1 {
            psels = <NRF_PSEL(UART_RX, 0, 23)>;
            bias-pull-up;
        };
        group2 {
            psels = <NRF_PSEL(UART_TX, 0, 21)>;
        };
    };

    uart0_sleep: uart0_sleep {
        group1 {
            psels = <NRF_PSEL(UART_RX, 0, 23)>,
                    <NRF_PSEL(UART_TX, 0, 21)>;
            low-power-enable;
        };
    };

    uart1_default: uart1_default {
        group1 {
            psels = <NRF_PSEL(UART_RX, 0, 11)>;
            bias-pull-up;
        };
        group2 {
            psels = <NRF_PSEL(UART_TX, 0, 12)>;
        };
    };

    uart1_sleep: uart1_sleep {
        group1 {
            psels = <NRF_PSEL(UART_RX, 0, 11)>,
                    <NRF_PSEL(UART_TX, 0, 12)>;
            low-power-enable;
        };
    };

    uart2_default: uart2_default {
        group1 {
            psels = <NRF_PSEL(UART_RX, 0, 25)>;
            bias-pull-up;
        };
        group2 {
            psels = <NRF_PSEL(UART_TX, 0, 24)>;
        };
    };

    uart2_sleep: uart2_sleep {
        group1 {
            psels = <NRF_PSEL(UART_RX, 0, 25)>,
                    <NRF_PSEL(UART_TX, 0, 24)>;
            low-power-enable;
        };
    };

    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 14)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 8)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 14)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 8)>;
            low-power-enable;
        };
    };
    i2c2_default: i2c2_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 24)>,
                    <NRF_PSEL(TWIM_SCL, 0, 25)>;
            bias-pull-up;
        };
    };
    i2c2_sleep: i2c2_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 24)>,
                    <NRF_PSEL(TWIM_SCL, 0, 25)>;
            low-power-enable;
        };
    };
};

&spi1 {
    compatible = "nordic,nrf-spi";
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
};

/ {
    model = "UHK 80 right";
    compatible = "uhk-80-right";

    gpios {
        compatible = "gpio-keys";

        charger_en: charger_en {
            gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
            label = "charger_en";
        };
        charger_stat: charger_stat {
            gpios = <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            label = "charger_stat";
        };

        leds_sdb: leds_sdb {
            gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
            label = "leds_sdb";
        };

        oled_en: oled_en {
            gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
            label = "oled_en";
        };
        oled_reset: oled_reset {
            gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
            label = "oled_reset";
        };
        oled_a0: oled_a0 {
            gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
            label = "oled_a0";
        };
        oled_cs: oled_cs {
            gpios = <&gpio1 0 GPIO_ACTIVE_LOW>;
            label = "oled_cs";
        };
        leds_cs: leds_cs {
            gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
            label = "leds_cs";
        };

        row1: row1 {
            gpios = <&gpio0 31 (GPIO_ACTIVE_HIGH)>;
            label = "row1";
        };
        row2: row2 {
            gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH)>;
            label = "row2";
        };
        row3: row3 {
            gpios = <&gpio1 6 (GPIO_ACTIVE_HIGH)>;
            label = "row3";
        };
        row4: row4 {
            gpios = <&gpio0 26 (GPIO_ACTIVE_HIGH)>;
            label = "row4";
        };
        row5: row5 {
            gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH)>;
            label = "row5";
        };
        row6: row6 {
            gpios = <&gpio0 28 (GPIO_ACTIVE_HIGH)>;
            label = "row6";
        };

        col1: col1 {
            gpios = <&gpio1 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col1";
        };
        col2: col2 {
            gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col2";
        };
        col3: col3 {
            gpios = <&gpio1 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col3";
        };
        col4: col4 {
            gpios = <&gpio1 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col4";
        };
        col5: col5 {
            gpios = <&gpio0 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col5";
        };
        col6: col6 {
            gpios = <&gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col6";
        };
        col7: col7 {
            gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col7";
        };
        col8: col8 {
            gpios = <&gpio0 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col8";
        };
        col9: col9 {
            gpios = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col9";
        };
        col10: col10 {
            gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col10";
        };
    };

    zephyr,user {
        io-channels = <&adc 1>;

        uart-swd-default = <&uart0_default>;
        uart-swd-sleep = <&uart0_sleep>;
        uart-bridge-default = <&uart1_default>;
        uart-bridge-sleep = <&uart1_sleep>;
        uart-modules-default = <&uart2_default>;
        uart-modules-sleep = <&uart2_sleep>;
        i2c-modules-default = <&i2c2_default>;
        i2c-modules-sleep = <&i2c2_sleep>;
    };

    aliases {
        charger-en = &charger_en;
        charger-stat = &charger_stat;

        leds-sdb = &leds_sdb;

        oled-en = &oled_en;
        oled-reset = &oled_reset;
        oled-a0 = &oled_a0;
        oled-cs = &oled_cs;

        leds-cs = &leds_cs;

        row1 = &row1;
        row2 = &row2;
        row3 = &row3;
        row4 = &row4;
        row5 = &row5;
        row6 = &row6;

        col1 = &col1;
        col2 = &col2;
        col3 = &col3;
        col4 = &col4;
        col5 = &col5;
        col6 = &col6;
        col7 = &col7;
        col8 = &col8;
        col9 = &col9;
        col10 = &col10;
    };
};
