// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 27)>,
                <NRF_PSEL(SPIM_MOSI, 0, 28)>,
                <NRF_PSEL(SPIM_MISO, 0, 29)>;
        };
    };
};

/ {
    gpios {
        compatible = "gpio-keys";
        oled_cs: oled_cs {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "oled_cs";
        };
        leds_cs: leds_cs {
            gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
            label = "leds_cs";
        };
        oled_a0: oled_a0 {
            gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
            label = "oled_a0";
        };
    };
    aliases {
        oled-cs = &oled_cs;
        leds-cs = &leds_cs;
        oled-a0 = &oled_a0;
    };
};
