/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 6)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };
};

&spi1 {
    compatible = "nordic,nrf-spi";
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
};

/ {
    model = "UHK 80 left";
    compatible = "uhk-80-left";

    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
    };

    gpios {
        compatible = "gpio-keys";

        charger_en: charger_en {
            gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
            label = "charger_en";
        };

        leds_sdb: leds_sdb {
            gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
            label = "leds_sdb";
        };
        leds_cs: leds_cs {
            gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
            label = "leds_cs";
        };

        row1: row1 {
            gpios = <&gpio0 16 (GPIO_ACTIVE_HIGH)>;
            label = "row1";
        };
        row2: row2 {
            gpios = <&gpio0 12 (GPIO_ACTIVE_HIGH)>;
            label = "row2";
        };
        row3: row3 {
            gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH)>;
            label = "row3";
        };
        row4: row4 {
            gpios = <&gpio0 11 (GPIO_ACTIVE_HIGH)>;
            label = "row4";
        };
        row5: row5 {
            gpios = <&gpio0 21 (GPIO_ACTIVE_HIGH)>;
            label = "row5";
        };
        row6: row6 {
            gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH)>;
            label = "row6";
        };

        col1: col1 {
           gpios = <&gpio0 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
           label = "col1";
        };
        col2: col2 {
            gpios = <&gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col2";
        };
        col3: col3 {
            gpios = <&gpio0 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col3";
        };
        col4: col4 {
            gpios = <&gpio1 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col4";
        };
        col5: col5 {
            gpios = <&gpio0 30 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col5";
        };
        col6: col6 {
            gpios = <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col6";
        };
        col7: col7 {
            gpios = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "col7";
        };
    };

    aliases {
        charger-en = &charger_en;

        leds-sdb = &leds_sdb;
        leds-cs = &leds_cs;

        row1 = &row1;
        row2 = &row2;
        row3 = &row3;
        row4 = &row4;
        row5 = &row5;
        row6 = &row6;

        col1 = &col1;
        col2 = &col2;
        col3 = &col3;
        col4 = &col4;
        col5 = &col5;
        col6 = &col6;
        col7 = &col7;
    };
};

zephyr_udc0: &usbd {
    compatible = "nordic,nrf-usbd";
    status = "okay";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x0 0xc000>;
        };
        slot0_partition: partition@c000 {
            label = "image-0";
            reg = <0xc000 0x72000>;
        };
        slot1_partition: partition@7e000 {
            label = "image-1";
            reg = <0x7e000 0x72000>;
        };
        scratch_partition: partition@f0000 {
            label = "image-scratch";
            reg = <0xf0000 0xa000>;
        };
        storage_partition: partition@fa000 {
            label = "storage";
            reg = <0xfa000 0x6000>;
        };
    };
};
