# SPDX-License-Identifier: Apache-2.0
# used for both zephyr and mcuboot -> no custom kconfig symbols here
if BOARD_UHK_80_LEFT

if SHELL_BACKEND_RTT
config SHELL_PROMPT_RTT
    default "uhk80:left$ "
endif # SHELL_BACKEND_RTT

if SHELL_BACKEND_SERIAL
config SHELL_PROMPT_UART
    default "uhk80:left$ "
endif # SHELL_BACKEND_SERIAL

if BT_DIS && BT_DIS_PNP
config BT_DIS_PNP_PID
    default 0x8007
endif # BT_DIS && BT_DIS_PNP

config USB_DEVICE_PRODUCT
    default "UHK 80 left half"

config USB_DEVICE_PID
    default 0x0007

config BT_CTLR
    default BT

endif # BOARD_UHK_80_LEFT
