source "Kconfig.zephyr"

rsource "c2usb/c2usb/port/zephyr/Kconfig"

config DEVICE_ID
    int "UHK device id"
    default 0
    help
        The device id that identifies the specific UHK half or dongle.
