# custom Kconfig defaults are set per board here,
# as the board-specific Kconfig files are used for mcuboot build as well
config DEVICE_ID
    int "UHK device id"
    default 5 if BOARD_UHK_DONGLE
    default 3 if BOARD_UHK_80_LEFT
    default 4 if BOARD_UHK_80_RIGHT
    help
        The device id that identifies the specific UHK half or dongle.

config KEYBOARD_MAX_SCANCODE
    hex "highest keyboard scancode"
    default 0x86
    range 0x66 0xDD
    help
        The highest keyboard scancode value influences the overall length of the HID record sent to the host.
        The default is set so Android devices (which don't exchange the MTU from the default 23)
        still receive the "NKRO" report layout. If a higher scancode is used, the report size will exceed this size,
        causing a fallback to 6KRO report layout on Android.

# by using the same Kconfig symbol names as mcuboot, the board Kconfig files can contain the values
config USB_DEVICE_VID
    hex "USB vendor ID"
    range 0x0000 0xFFFF
    default 0x37A8
    help
        The USB vendor ID is used to identify the specific UHK device.

config USB_DEVICE_MANUFACTURER
    string "USB vendor name"
    default "Ultimate Gadget Laboratories"
    help
        The USB vendor name is used to describe the specific UHK device to the host OS user.

config USB_DEVICE_PID
    hex "USB product ID"
    range 0x0000 0xFFFF
    help
        The USB product ID is used to identify the specific UHK device.

config USB_DEVICE_PRODUCT
    string "USB product name"
    help
        The USB product name is used to describe the specific UHK device to the host OS user.

config USB_DEVICE_PRODUCT_VERSION
    hex "USB product version"
    range 0x0000 0xFFFF
    default 0x0001
    help
        The USB product version is used to identify the UHK device operating mode.

# copy over the USB properties to BT
configdefault BT_DIS_MANUF
    default USB_DEVICE_MANUFACTURER
configdefault BT_DIS_MODEL
    default USB_DEVICE_PRODUCT
configdefault BT_DIS_PNP
    default y
configdefault BT_DIS_PNP_VID_SRC
    default 2
configdefault BT_DIS_PNP_VID
    default USB_DEVICE_VID
configdefault BT_DIS_PNP_VER
    default USB_DEVICE_PRODUCT_VERSION

configdefault BT_DEVICE_NAME
    default "UHK 80" if BOARD_UHK_80_LEFT || BOARD_UHK_80_RIGHT
configdefault BT_DEVICE_APPEARANCE
    default 961

# configdefaults must come before sourcing "Kconfig.zephyr" in order to give precedence
# to these application-specific defaults instead of the unconditional default in the Zephyr Kconfig tree.
# https://github.com/nrfconnect/sdk-nrf/blob/4b9841a28e97e9d61b93f8981375d644b9d04ea0/samples/bluetooth/mesh/light/Kconfig#L11C1-L13C30
source "Kconfig.zephyr"
