/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

&gpio0 {
    status = "okay";
};

&uart0 {
    compatible = "nordic,nrf-uarte";
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart0_default>;
    pinctrl-1 = <&uart0_sleep>;
    pinctrl-names = "default", "sleep";
};


&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

&pinctrl {
    uart0_default: uart0_default {
        group1 {
            psels = <NRF_PSEL(UART_RX, 0, 29)>;
            bias-pull-up;
        };
        group2 {
            psels = <NRF_PSEL(UART_TX, 0, 22)>;
        };
    };

    uart0_sleep: uart0_sleep {
        group1 {
            psels = <NRF_PSEL(UART_RX, 0, 29)>,
                <NRF_PSEL(UART_TX, 0, 22)>;
            low-power-enable;
        };
    };

    pwm0_default: pwm0_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 8)>,
                <NRF_PSEL(PWM_OUT1, 1, 9)>,
                <NRF_PSEL(PWM_OUT2, 0, 12)>;
            nordic,invert;
        };
    };

    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 8)>,
                <NRF_PSEL(PWM_OUT1, 1, 9)>,
                <NRF_PSEL(PWM_OUT2, 0, 12)>;
            low-power-enable;
        };
    };
};

/ {
    model = "UHK dongle";
    compatible = "uhk-dongle";

    chosen {
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
    };

    pwmleds {
        compatible = "pwm-leds";
        red_pwm_led: red_pwm_led {
            pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
        };
        green_pwm_led: green_pwm_led {
            pwms = <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
        };
        blue_pwm_led: blue_pwm_led {
            pwms = <&pwm0 2 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
        };
    };

    aliases {
        red-pwm-led = &red_pwm_led;
        green-pwm-led = &green_pwm_led;
        blue-pwm-led = &blue_pwm_led;
    };
};

zephyr_udc0: &usbd {
    compatible = "nordic,nrf-usbd";
    status = "okay";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x0 0x10000>;
        };
        slot0_partition: partition@10000 {
            label = "image-0";
            reg = <0x10000 0xdd000>;
        };
        hardware_config_partition: partition@ed000 {
            label = "hardware-config";
            reg = <0xed000 0x1000>;
        };
        user_config_partition: partition@ee000 {
            label = "user-config";
            reg = <0xee000 0x10000>;
        };
        storage_partition: partition@fe000 {
            label = "storage";
            reg = <0xfe000 0x2000>;
        };
    };
};
