config BOARD_UHK_60_RIGHT_V1
    bool "UHK 60 v1"
    depends on SOC_SERIES_KINETIS_K2X
    select SOC_PART_NUMBER_MK22FN512VLH12

config BOARD_UHK_60_RIGHT_V2
    bool "UHK 60 v2"
    depends on SOC_SERIES_KINETIS_K2X
    select SOC_PART_NUMBER_MK22FN512VLH12
